<!--  Do not change line 2 "About" key/value-->
<% provide(:title, "About") %>
<h1>About This Practice Application</h1>
<p>
  This is a practice application, serving as another experience for me in building fundemental components of an application.

  I will either create another application, implementing many of the structural compenents contained
  in this practice application, or adapt this archetecture into something personally useful. EG.. Notepad, To-Do list. . .
</p>
