<% provide(:title, "Contact") %>
<h1>Contact Information</h1>
<h4>CSS Not Applied - email and phone number not hyperlinked - dummy data</h4>
<p>Email: dgriffiths.coding@gmail.com</p>
<p>Phone: (919) 259-1882</p>
<p>GitHub: https://github.com/DanielGriffiths1182</p>
