<footer class="footer">
  <small>
    Thanks You For Visiting My Practice App!
  </small>
  <nav>
    <ul>
      <li><%= link_to "About (incomplete)", about_path %></li>
      <li><%= link_to "Contact (incomplete)", contact_path %></li>
      <li><%= link_to "Help (incomplete)", help_path %></li>
    </ul>
  </nav>
</footer>
